@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-color: #000000;
    --contrast-color: #708090;
    --secondary-color:#D3D3D3;
    --brand-color: #FF4500;
    --primary-font: "Roboto", sans-serif;
}

body {
    font-family: var(--primary-font);
}

/**---------------------- Navbar **/

section.navbar {

}

/**---------------------- Hero Section **/

section.hero {

}

/**---------------------- weather section **/
section.weather {

}

/**---------------------- news section **/

section.news {

}

/**---------------------- FAQ section **/

section.faq {

}
/* Style button to open and close content - inspired by W3 schools*/
.collapsible {
    background-color: var(--contrast-color:);
    color: var(--primary-color:);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Style background button color when mouse pointer hovers and if it is clicked on (add .active class with JS)*/
.active, .collapsible:hover {
    background-color: var(--secondary-color:);
}

/* Style the collapsible content.  Display none to be hidden by default.*/
.content {
    padding: 0 20px;
    display: none;
    overflow: hidden;
    background-color: (var(--primary-color));
}

/**---------------------- Footer section **/

section.footer {

}
