@import url("https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@300;400;700&display=swap");

:root {
  --background-color: #fffff0;
  --primary-color: #3c2f2f;
  --primary-color-light: #543d3d;
  --contrast-color: #708090;
  --secondary-color: #800000;
  --secondary-color-light: #660000;
  --accent-color: #ffd700;
  --accent-color-light: #ffc100;
  --brand-color: var(--secondary-color);
  --primary-font: "Roboto", sans-serif;
  --max-app-width: 1200px;
}

/**---------------------- Global styles  **/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  background: var(--background-color);
  margin: 0;
}

p,
a {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

/**---------------------- For accessility 
 https://webaim.org/techniques/css/invisiblecontent/ 
 **/

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/**---------------------- Navbar **/
.wrapper {
  max-width: var(--max-app-width);
  margin: 0 auto;
}

nav {
  position: fixed;
  right: -100%;
  top: 0;
  width: 60%;
  height: 100vh;
  background-color: var(--primary-color-light);
  padding: 3rem;
  transition: right 0.5s ease-in-out;
}

section.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .close-btn {
  cursor: pointer;
  width: 3rem;
  display: block;
  margin-left: auto;
  border: none;
  display: block;
  margin-left: auto;
  padding: 0;
  min-height: 66px;
  background-color: var(--primary-color-light);
}

.menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: var(--background-color);
  padding: 3rem;
}

.menu-btn svg {
  color: var(--primary-color-light);
}

.menu-btn span:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color-light);
}

.open {
  right: 0;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5em;
  list-style-type: none;
  margin: 0;
  margin-top: 4rem;
  padding: 0;
}

section.navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin-left: auto;
  display: inline-block;
  padding: 0;
}

section.navbar a:hover {
  color: red;
}

/* Logo  */
section.navbar .logo {
  margin-left: 0;
  padding-left: 3rem;
}

section.navbar .menuitem {
  background: red;
}
section.navbar .active {
  text-decoration: underline;
}

section.navbar a:hover {
  color: var(--accent-color);
  background: var(--primary-color-light);
}

section.navbar .logo {
  color: var(--primary-color-light);
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .menu-btn,
  nav .close-btn {
    display: none;
  }

  nav {
    position: unset;
    height: auto;
    background: none;
    padding: 0;
    width: auto;
  }

  section.navbar {
    align-items: center;
    margin-top: 2.5rem;
  }

  header ul {
    flex-direction: row;
    margin-top: auto;
  }

  section.navbar a {
    color: var(--primary-color);
    font-size: 1.7rem;
    padding: 1em;
    border-radius: 4px;
  }

  section.navbar .logo {
    color: var(--primary-color);
  }

  section.navbar .logo:hover {
    color: inherit;
    background-color: inherit;
  }

  section.navbar a:hover {
    color: var(--accent-color-light);
    background: var(--primary-color-light);
  }
}

/**---------------------- Hero Section **/
section.hero {
}

/**---------------------- weather section **/
section.weather {
}

/**---------------------- news section **/

section.news {
}

/**---------------------- FAQ section **/

section.faq {
}

/**---------------------- Footer section **/

section.footer {
}

/**---------------------- Footer section **/

.profile {
  background-color: var(--contrast-color);
}
